@using BlazorApp.Components.Header
<div class="card">
    <span class="card-title">@Title</span>
    <OrangeButton OnClick="HandleClick">Button</OrangeButton>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Card";
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync();
    }
}