<button class="btn-custom @(IsLoading ? "loading" : "")" type="@Type" @onclick="OnClick" disabled="@IsLoading">
    @if (IsLoading) {
        <div class="spinner"></div>
    } else {
        @ChildContent
    }
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}