<footer class="main-footer">
    <div class="footer-cards-container">
        <FooterCard Title="Footer Card" />
        <FooterCard Title="Footer Card" />
    </div>

    <div class="footer-label">Footer</div>

    <div class="footer-cards-container">
        <FooterCard Title="Footer Card" />
        <FooterCard Title="Footer Card" />
    </div>
</footer>