<div class="aside-container">
    <div class="item-group">
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
    </div>

    <h2 class="aside-title">Asaid</h2>

    <div class="item-group">
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
        <AsideItem>Item</AsideItem>
    </div>
</div>

<style>
    .aside-container {
        background-color: #7E57C2;
        padding: 15px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-self: flex-start;
    }

    .aside-title {
        color: white;
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
        font-weight: normal;
    }

    .item-group {
        display: flex;
        flex-direction: column;
    }
</style>